body {
    background: url("../img/background-min.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

.title {
    text-align: center;
    margin-top: 35px;
    font-size: 25px;
    margin-bottom: 32%;
    color: white;
}

.action {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.rock {
    background-color: rgba(76, 122, 52, 0.6);
    border: 7px solid rgb(76, 122, 52);
    border-radius: 100%;
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.opacity {
    opacity: 0.3;
}

.paper {
    background-color: rgba(183, 15, 10, 0.6);
    border: 7px solid rgb(183, 15, 10);
    border-radius: 100%;
}

.scissor {
    background-color: rgba(62, 126, 222, 0.6);
    border: 7px solid rgb(62, 126, 222);
    border-radius: 100%;
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

@media only screen and (min-width: 991px) {
    .col-md-0 {
        position: absolute;
        visibility: hidden;
    }
    .winner {
        width: 26%;
        margin-left: -13%;
        top: 42%;
    }
    .computerAction {
        width: 200px;
        margin-left: -100px;
    }
    .userAction {
        width: 200px;
        margin-left: -100px;
    }
    .action {
        width: 150px;
        height: 150px;
    }
    .scoreBoard {
        top: 13%;
    }
}

@media only screen and (max-width: 993px) {
    .col-sm-0 {
        position: absolute;
        visibility: hidden;
    }
    .winner {
        width: 60%;
        margin-left: -30%;
        top: 35%;
    }
    .computerAction {
        width: 100px;
        margin-left: -50px;
    }
    .userAction {
        width: 100px;
        margin-left: -50px;
    }
    .action {
        width: 100px;
        height: 100px;
    }
    .scoreBoard {
        top: 20%;
    }
}

.scoreBoard {
    background-color: #ededed;
    border: 3px solid black;
    border-radius: 6px;
    padding: 2px;
    position: absolute;
    left: 2%;
    font-family: 'Press Start 2P', monospace;
    font-smooth: never;
}

.userAction {
    display: none;
    left: 50%;
    position: absolute;
    bottom: -1%;
    opacity: 1;
}

.computerAction {
    display: none;
    left: 50%;
    position: absolute;
    top: -1%;
    opacity: 1;

    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.actionImgRock {
    margin-top: 17%;
    width: 55%;
}

.actionImgPaper {
    margin-top: 15%;
    width: 60%;
}

.actionImgScissor {
    margin-top: 13%;
    width: 48%;
}

.winner {
    display: none;
    font-family: 'Press Start 2P', monospace;
    font-smooth: never;
    font-size: 45px;
    text-align: center;
    z-index: 999;
    position: absolute;
    left: 50%;
    padding: 10px;
    background-color: white;
    border: 7px solid black;
    border-radius: 16px;
}

.logo {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 120px;
}